<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p>
	<div class="Childs" style="color:white"><strong>Coordonnées et informations sur les sites Valtech Training :<br/></strong> <br/><ul><li><a title="Coordonnées de Valtech Training à Paris 75007" href="/contact/centres-formation/paris-7eme/">Paris - 7ème</a></li>
<li><a title="Coordonnées de Valtech Training à Toulouse" href="/contact/centres-formation/toulouse/">Toulouse</a></li>
</ul><br/><strong>Adresses des sites partenaires où nous animons également nos sessions :<br/></strong> <br/><ul><li><a title="Formations Valtech Training à Paris 8ème chez Formeret" href="/contact/centres-formation/paris-8eme-formeret/">Paris - 8ème - Formeret Espace Monceau</a></li>
<li><a title="Formations à Paris 8ème chez Xerox Formation" href="/contact/centres-formation/paris-8eme-xerox/">Paris - 8ème - Xerox Formation</a></li>
<li><a title="Formations à Paris 9ème chez Zenika" href="/contact/centres-formation/paris-9eme-zenika/">Paris - 9ème - Zenika</a></li>
<li><a title="Formations Valtech Training à Paris 17ème chez Mediasite" href="/contact/centres-formation/paris-17eme-mediasite/">Paris - 17ème - Mediasite</a></li>
<li><a title="Formations Valtech Training à Toulouse chez Vaelia" href="/contact/centres-formation/toulouse-vaelia/">Toulouse - Vaelia</a></li>
</ul></div>
<p>Valtech Training est directement implanté à Paris (7ème arrondissement) et à Toulouse.  Nous dispensons également régulièrement des formations interentreprises dans d'autres localités au travers de centres partenaires.<br/><br/>Vous pouvez nous joindre via le <a title="Compléter le formulaire de contact" href="/demande-contact/">formulaire de contact</a>, par <a title="Joindre Valtech Training par e-mail" href="mailto:info@valtech-training.fr">email</a> ou tout simplement par téléphone au <strong>+ 33 (0)1 76 21 15 00</strong>.</p>
<div class="image"><a title="Formulaire de contact" href="/demande-contact/"><img class="left" src="assets/uploads/images-institutionnelles/formulaire-contact.jpg" width="221" height="230" alt="" title=""/></a></div>
	
	
	

<div id="GotoTopLink"><a href="/contact/coordonnees/#top" title="Revenir en haut de la page"><span>Haut de page</span></a></div>

	<div class="clear"></div>
</div>
</p>
</section>
